<div class="about"
(click) = "bibleService.menuHistoryBook = false;
        bibleService.displayMenu = false">
        <br>
    <hr>
    <div>
        <p><i>Now thanks be unto God, which always causeth us to triumph in Christ, and maketh manifest the savour of his knowledge by us in every place.</i></p>
        <p class="scripture">2 Corinthians 2:14</p>
    </div>
    <hr>
    <p>This is an opensource, offline capable (PWA), King James Version (Cambridge) Bible application.</p>
    <p>WebAssembly is used for Bible book rendering and Search functionality</p>
    <p>This application does not use cookies nor does it harvest any personal data. Local Storage is used to improve user experience. </p>
    <p>For the source code of this application, please visit the <a href="https://github.com/forjbj/bible">github repository</a> </p>
    <div class="version">
        <p>Version 0.2</p>
            <ul>
                <li>Add lefthand option</li>
                <li>Rejiggered navigation</li>
            </ul>
    </div>     
    <div class="version">
        <p>Version 0.1</p>
            <ul>
                <li>Add links</li>
                <li>Improve search performance</li>
            </ul>
    </div>     
    <div class="version">
        <p>Version 0.0</p>
            <ul>
                <li>Initial Version</li>
            </ul>
    </div>   
</div>