<article class="about">
    <br>
    <header class="scriptHeader">
        <p><i>Now thanks be unto God, which always causeth us to triumph in Christ, and maketh manifest the savour of his knowledge by us in every place.</i></p>
        <p class="scripture">2 Corinthians 2:14</p>
    </header>
    <div class="leftAlign">
        <p>This is an opensource, offline capable (PWA), King James Version (Cambridge) Bible application.</p>
        <p>WebAssembly is used for book rendering and Search functionality</p>
        <p>This application does not use cookies nor does it harvest any personal data. Local Storage is used to improve user experience. </p>
        <p>The code for this application: <a href="https://github.com/forjbj/bible-kjv" target="_blank" rel="noopener noreferrer">github repository</a> </p>
    </div>
    <section class="version">
        <p>Version 0.7</p>
            <ul>
                <li>added dictionary for word definition</li>
            </ul>
    </section>      <section class="version">
        <p>Version 0.6</p>
            <ul>
                <li>added dialogs instead of page routing where appropriate</li>
            </ul>
    </section>
    <section class="version">
        <p>Version 0.5</p>
            <ul>
                <li>add side navigation for landscape</li>
            </ul>
    </section>
    <section class="version">
        <p>Version 0.4</p>
            <ul>
                <li>update framework</li>
                <li>changed to anchor scrolling</li>
                <li>style fixes; mostly for iOS</li>
            </ul>
    </section>
    <section class="version">
        <p>Version 0.3</p>
            <ul>
                <li>update framework</li>
                <li>improved search functionality</li>
            </ul>
    </section>
    <section class="version">
        <p>Version 0.2</p>
            <ul>
                <li>Add lefthand option</li>
                <li>Rejiggered navigation</li>
            </ul>
    </section>
    <section class="version">
        <p>Version 0.1</p>
            <ul>
                <li>Add links</li>
                <li>Improve search performance</li>
            </ul>
    </section>
    <section class="version">
        <p>Version 0.0</p>
            <ul>
                <li>Initial Version</li>
            </ul>
    </section>
</article>
