@import"../../styles.scss";

.about {
    max-width: 90%;
    margin: 0 auto;
}
.scriptHeader {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: var(--lightRed);
}
.scripture {
    font-family: Bookman, Georgia, serif;
    font-variant-caps: small-caps;
    font-size: 0.8rem;
    text-align: right;
}
.version {
    max-width: 70%;
    margin: 0 auto;
    p, ul {
        margin-left: 3%;
    }
    border: 1px solid var(--ink);
}