<nav id="chaptersShow" class="chaptersShow"
      (click) = "bibleService.showChapters = !bibleService.showChapters; ">
  <header *ngIf = "bibleService.title != 'Psalms'; else notChapter" class="numberHeader">
    <hr>
    <p class = "chapterTitle">{{bibleService.title}}</p>
    <p class = "numberTitle">Chapters</p>
    <hr>
  </header>
  <ng-template #notChapter>
    <header class="numberHeader">
      <hr>
      <p class = "chapterTitle">{{bibleService.title}}</p>
      <!-- <p class = "numberTitle">Psalms</p> -->
      <hr>
    </header>
  </ng-template>

  <section class="chapterGrid">
    <ng-container 
    *ngFor = "let chapters of bibleService.bible[bibleService.testament].books[bibleService.bookSelected].chapters" >
<!-- [routerLink] = "['/book', bibleService.title]" give error from static site (github pages) on reload -->
      <div 
          class = "chapters"
          [routerLink] = "['book']"
          (click)="updateStorage(chapters.chapter) "
          fragment = {{bibleService.testament}}-{{bibleService.bookSelected}}-{{chapters.chapter}}-0>
          {{chapters.chapter }}
      </div>
    </ng-container>
  </section>
  <hr>
</nav>