<nav id="chaptersShow" class="chaptersShow"
      (click) = "bibleService.showChapters = !bibleService.showChapters; ">
  <header class="numberHeader">
    <hr>
    <p class = "chapterTitle">{{bibleService.title}}</p>
    <p *ngIf = "bibleService.title != 'Psalms';" class = "numberTitle">Chapters</p>
    <hr>
  </header>
  <section class="chapterGrid">
    <ng-container 
    *ngFor = "let chapters of bibleService.bible[bibleService.testament].books[bibleService.bookSelected].chapters" >
      <div 
        class = "chapters"
        (click)="updateStorageAndScroll(chapters.chapter);">
        {{chapters.chapter}}
      </div>
    </ng-container>
  </section>
  <hr>
</nav>