<div id= "menu" class="menu">
    <hr>
    <div (click) = "bibleService.menuHistoryBook = false;
        bibleService.displayMenu = !bibleService.displayMenu"
        class="links" 
        routerLink="about">
        About
    </div>
    <hr>
    <!-- Theme -->
    <div class="mode">
        Dark Theme
        <label class="switch">
            <input type="checkbox" id="theme" (change)="themeChange()">
            <span class="slider"></span>
        </label>
    </div> 
    <!-- Left Handed -->
    <div class="mode">
        Left Handed
        <label class="switch">
            <input type="checkbox" id="leftHand" (change)="leftHand()">
            <span class="slider"></span>
        </label>
    </div> 
    <hr>
    <div (click) = "wordSearch()"
        class="links" >
        Word Search&ensp;<img src="./assets/search.svg" class="searchIcon" align="right">
    </div>
    <hr>
    <div class="history">
        History:
        <ul class = "links" (click) = "historyService.rearrangeBooks('cur');"> 
            {{this.historyService.curBookMenu}}
        </ul>
        <ul class = "links" (click) = "historyService.rearrangeBooks('sec');">
            {{this.historyService.secBookMenu}}
        </ul>
        <ul class = "links" (click) = "historyService.rearrangeBooks('third');">
            {{this.historyService.thirdBookMenu}}
        </ul>
    </div>
    <hr>
    <div (click) = "bibleService.menuHistoryBook = false;
        bibleService.displayMenu = !bibleService.displayMenu"
        class = "links"
        routerLink="testaments">
            Select a Bible Book
    </div> 
    <hr>
</div>