<nav id= "menu" class="menu">
  <hr class="menuSeparator">
  <article #testament>
    <div (click)="bibleService.displayMenu = false;"
      routerLink="testaments"
      class = "links">
      Select a Bible Book
    </div>
  </article>
  <hr>
    <div class="history">
      Recent:
      <ul class = "links" (click) = "historyService.rearrangeBooks('cur');">
        {{this.historyService.curBookMenu}}
      </ul>
      <ul class = "links" (click) = "historyService.rearrangeBooks('sec');">
        {{this.historyService.secBookMenu}}
      </ul>
      <ul class = "links" (click) = "historyService.rearrangeBooks('third');">
        {{this.historyService.thirdBookMenu}}
      </ul>
    </div>
  <hr>
  <article #search>
    <div (click) = "showSearch()"
      class="links" >
      Search the Bible&ensp;<img src="./assets/search.svg" class="searchIcon" align="center">
    </div>
  </article>
  <hr class="menuSeparator">
    <!-- Theme -->
    <div class="mode">
      Dark Theme
      <label class="switch">
        <input type="checkbox" id="theme" (change)="themeChange()">
        <span class="slider"></span>
      </label>
    </div>
    <!-- Left Handed -->
    <div class="mode">
      Left Handed
      <label class="switch">
        <input type="checkbox" id="leftHand" (change)="leftHand()">
        <span class="slider"></span>
      </label>
    </div>
  <hr class="menuSeparator">
  <article #about>
    <div (click) = "aboutDialog.showModal();"
      class="links">
      About BibleKJV
    </div>
    <dialog id = "aboutDialog"
      (click)="backdropClose($event, this.aboutDialog); bibleService.menuHistoryBook = false">
      <button class="aboutClose"
        (click)="aboutDialog.close()" >
        CLOSE
      </button>
      <app-about></app-about>
    </dialog>
  </article>
  <hr class="menuSeparator">
</nav>
