<!-- <app-chapter-numbers></app-chapter-numbers> DOESN'T WORK HERE; DOES WEIRD THINGS -->
<!-- below must be article or messes with chapters sections-->
<article id="bibleBook" 
        (click) = "bibleService.showChapters = false; bibleService.displayMenu = false;" 
        [innerHTML] = "renderedBook | safe: 'html'">
</article>
<div    *ngIf="nextButton != 'The End'"
        style="text-align:center">  
        <button class="nextButton"
                (click)="nextBookRoute()">
                {{ nextButton }}
                <div class="smallerTitle" [innerHTML] = "nextBibleBook | safe: 'html'"></div>
        </button>
</div>
