//  increase font size for readablility (I'm old)
.fontType {
  font-family: Georgia,"Times New Roman", Times, serif;
  line-height: 1.5em; // needs to be 'em' units as 'rem' makes everything very wrong
  font-size: 1.3rem;
    @media (orientation: portrait) {
        font-size: 1.2rem;
    }
}
.psalm {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 5rem;
    @media (orientation: portrait) {
        font-size: 0.9rem;
        padding: 0 4rem;
    }
}
//remove styling from created links
section {
    a {
      color: var(--scriptNum);
      text-decoration: none;
      &:focus {
        color: var(--lightRed);
        outline: transparent solid 1px; //needed otherwise it is blue-safari; grey-firefox; black- chrome
      }
      &:hover {
        color: var(--lightRed);
      }
    }
}
.headings {
  text-align: center;
    // make things a little more compact
    & h5, h2, h3, h4{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
.verses {
    display: grid;
    width: 100%;
    grid-gap: 1rem; // needed to stop words scrolling right
    grid-template-columns: 3rem auto;
    @media (orientation: portrait) {
        grid-template-columns: 1rem auto; // verse number column smaller for small screens
    }
}
.firstVerse{
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    &:first-of-type:first-letter {
        margin-right: 0.03rem;  // required for first letters that are in italics
        vertical-align: top;
        font-size: 2rem;
    }
    @media (orientation: portrait) {
        margin-left: 1rem;
    }
}
.verseNumber {
    text-align: right;
    margin: 0.5rem 0;
    @media (orientation: portrait) {
        margin: 0.3rem 0;
    }
}
// stop scripture going to far right
.scripture {
    margin: 0.5rem 1rem 0.5rem 0;
    @media (orientation: portrait) {
        margin: 0.3rem 1rem 0.3rem 0;
    }
}
//smaller font for end of book notes
.notes {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    margin: 0 3rem;
}

// for search result routing
.activatedLink {
    outline: 0;
    animation: result 7s ease 1s;
    .verseNumber {
        color: var(--lightRed);
    }
}
@keyframes result {
    33% {background-color: var(--searchHighlight)}
    66% {background-color: var(--searchHighlight)}
  }

.nextButton {
    margin: 1rem;
    color: var(--zInk);
    text-align: center;
    text-shadow: 1px 1px var(--gridColor);
    border-radius: 0.1rem;
    background-color: var(--button);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover, &:focus, &:active {
        color: var(--ink);
        background-color: var(--menu);
        outline: 0; //needed for chrome
    }
}
.smallerTitle {
    font-size: 70%;
    margin-top: 0.5rem;
    padding: 0 1rem;
    border: 1px solid var(--paper);
}
.definitionParent{
  text-decoration:underline;
  text-decoration-style: solid;
  text-decoration-color: var(--scriptNum);
  white-space: pre-line; // needed for \n characters in definitions
}
/*Functional Styling*/
@media (pointer: coarse), (pointer: fine), (hover: none){ //finger on touchscreen, mouse
  [definition] {
    position: relative;
    display: inline-grid;
    justify-content: center;
  }
  [definition]:focus::after {
    content: attr(definition);
    position: absolute;
    grid-row: 2;
    margin-left: var(--margin_definition); // variable defined by mouse click; see event listener
    color: var(--scriptNum);
    background-color: color-mix(in srgb, var(--paper) 80%, transparent);
    border: 1px solid;
    width: fit-content;
    padding: 3px;
    min-width: 200%;
    z-index: 1;
  }
}
