/* You can add global styles to this file, and also import other style files */
// Global colours for easy colour scheme change
:root {
    --nav: #ccc;
    --menu: #ddd;
    --paper: #fff;
    --gridColor: #eee;
    --searchHighlight: #ccc;
    --ink: #000;
    --zPaper: #bbb;
    --zInk: #111;
    --scriptNum: #555;
    --button: #bbb;
    --buttonActive: #ddd;
    --buttonBorder: #777;
    --darkRed: #4b0101;
    --lightRed: #9A0707;
}
html[dataTheme = 'dark'] {
    --nav: #444;
    --menu: #333;
    --paper: #000;
    --gridColor: #111;
    --searchHighlight: #333;
    --ink: #fff;
    --zPaper: #333;
    --zInk: #ddd;
    --button: #555;
    --scriptNum: #999;
    --buttonActive: #aaa;
    --buttonBorder: #333;
    --darkRed: #4b0101;
    --lightRed: #9A0707;
}

html {
    -webkit-text-size-adjust: 100%; // Apple stuff: Prevent font scaling in landscape while allowing user zoom
}

body {
    width: 100vw; //needed for iOS ??
    color: var(--ink);
    background-color: var(--paper);
    margin: auto;
    font-size: 1.1rem;
    transition: all 0.5s;
}
hr {
    border-color: var(--lightRed);
}
h1, h2, h3, h4, h5 {
    font-family: Georgia,"Times New Roman", Times, serif;
    font-weight: normal;
}
//spinner for search and long render
.spinnerBackground {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(var(--paper), transparent);
    display: block;
    position: fixed;
    top: calc( 50% - 3rem);
    left: calc(50% - 3rem);
    z-index: 12;
  .circleSpinner {
    height: 5rem;
    width: 5rem;
    border: 7px ridge transparent; //pixels used as rem units give an uneven, weird shape
    border-top:  7px  solid #770000;
    border-radius: 50%;
    animation: spin 3s linear infinite;
    position: relative;
    margin: 0 auto;
  }
  .circleSpinner::before,
  .circleSpinner::after {
    content: "";
    position: absolute;
    top: -7px; //pixels used as rem units give an uneven, weird shape
    bottom: -7px;
    left: -7px;
    right: -7px;
    border-radius: 50%;
    border: 7px groove transparent;
  }
  .circleSpinner::before {
    border-top: 7px solid #af0000;
    animation: 2s spin linear infinite;
  }
  .circleSpinner::after {
    border-top: 7px solid #ee0000;
    animation: spin 1.2s linear infinite;
  } 
  .titleSpinner {
      font-size: 0.9rem; //needed for firefox
      font-variant: small-caps;
      text-align: center;
      text-shadow: 1px 1px var(--gridColor);
      color: red;
      transform: translateY(-3.5rem);
  }           
  @keyframes spin {
      from {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
      }
  }
}
//end spinner for search and long render
// keyframes for update-toaster; need to be here as per Angular 15 update or won't work
@keyframes app-update-toaster_fadein { // name change necessary as Angular 15 requires app name in keyframes
    from { transform: scale(0); opacity: 0;}
    to { transform: scale(1); opacity: 1;}
}

@keyframes app-update-toaster_expand {
    from {width: 7rem}
    to {width: clamp(20rem, 35vw, 24rem)}
}
//end keyframes for update-toaster