<div (click) = "bibleService.displayMenu = false;">
    <div class="stationary">
        <hr>
        <div class="searchSelect">
                <label class="verticalLabel gridColumnOne">SEARCH</label>
                <input #req class="searchInput gridColumnTwo" name = "req" type="search" placeholder= "for Word or Words..." 
                        value= {{bibleService.searchRequest}} (keyup.enter) ="submitSearch(req.value)" required minlength="2">
                <input class="searchButton gridColumnThree" type="image" src="./assets/search_neutral.svg"  (click) = "submitSearch(req.value)">
                <select class="searchOption gridColumnTwo" name="testaments" id="testaments" [(ngModel)] ="checkedNumber" (ngModelChange) = "selectedTest()">
                    <option *ngFor="let select of testaments" [ngValue]="select.id" [selected] = "select.selected">{{ select.label }}</option>
                </select>
                <select class="searchOption gridColumnTwo" name="accuracy" id="accuracy" [(ngModel)] ="accuracy" (ngModelChange) = "selectedAccuracy()">
                    <option *ngFor="let select of accuracyLevel" [ngValue]="select.id" [selected] = "select.selected">{{ select.label }}</option>
                </select>
        </div>
        <hr>
        <br>
    </div>
    <!-- The following is necessary to get around Angular's security; to be able to use Webassembly created source ('a' tag) and HTML (this took 2 days to work out) -->
    <a class="hideLink" [href] = "bibleService.searchResults | safe: 'resourceUrl'">
        <div id="searchResults" class="searchResults" [innerHtml] = "bibleService.searchResults | safe: 'html'"></div>
    </a>
</div>
