<section class="searchGrid" (click) = "bibleService.displayMenu = false;">
  <div id="stationary" class="stationary">
    <hr>
      <form class="searchSelect">
        <label class="verticalLabel gridColumnOne">Search </label>
        <input #req class="searchInput gridColumnTwo" name = "req" type="search" placeholder= "Word or Words "
          value= {{searchService.searchRequest}} (keyup.enter) ="searchService.submitSearch(req.value)" required minlength="2" autofocus>
        <select class="searchOption gridColumnTwo" name="area" [(ngModel)] ="searchService.checkedNumber" (ngModelChange) = "searchService.selectedArea()">
          <optgroup label="Testament/s">
            @for (select of searchService.searchArea; track select) {
              <option [ngValue]="select.id">in {{ select.label}}</option>
            }
          </optgroup>
          <optgroup label="Books">
            @for (testament of bibleService.bible; track testament; let i = $index) {
              @for (book of testament.books; track book; let j = $index) {
                <option [ngValue]="((i == 1 ? bibleService.bible[0].books.length : 0) + j )" [selected] = "book.selected">in {{book.bookName}}</option>
              }
            }
          </optgroup>
        </select>
        <select class="searchOption gridColumnTwo" name="accuracy" id="accuracy" [(ngModel)] ="searchService.accuracy" (ngModelChange) = "searchService.selectedAccuracy()">
          @for (select of searchService.accuracyLevel; track select) {
            <option [ngValue]="select.id" [selected] = "select.selected">{{ select.label }}</option>
          }
        </select>
        <input alt="searchIcon" class="searchButton gridColumnThree" type="image" src="./assets/search_neutral.svg"  (click) = "searchService.submitSearch(req.value)">
      </form>
      <hr>
  </div>
  <!-- below is terrible hack to get around angular animation not available for ng-template -->
  <div id="searchResultsPage" class="searchResultsPage" >
    @if (bibleService.searchResults == "noSearchYet"){
      <p>Enter the word, words or part of a word to search.</p>
      <p>Choose to search in the Old testament, the New testament, both or a specific Bible book.</p>
      <p>Choose the level of search accuracy; Exactly Match Word(s) or Word Contains Characters.</p>
    } @else {
      <section id="searchResults" class="searchResults" [innerHtml] = "bibleService.searchResults | safe: 'html'"></section>
    }
  </div>
</section>
