<!-- This outside/fullpage division is necessary for the nav to stay sticky in apple stuff; don't ask, I don't know either-->
<div> 
  <nav id = "nav">
    <div  id="navGrid" class="navGrid">
      <div id="description" class="desc">
        {{bibleService.pageTitle}} 
    <!--    <span *ngIf = "bibleService.chapterButton == true"> {{bibleService.chapterNumber}}</span> -->
      </div>
      <div id="titleButton"
        (click) = "bibleService.displayMenu = false;">
        <div *ngIf="bibleService.chapterButton == true; else version">
          <button class = "titleButton"
                  (click) = "bibleService.showChapters = !bibleService.showChapters;">
            <div *ngIf = "bibleService.title != 'Psalms'; else notChapterTitle">
              Chapter {{bibleService.chapterNumber}}
            </div>
            <ng-template #notChapterTitle>
              <div>
                Psalm {{bibleService.chapterNumber}}
              </div>
            </ng-template>
          </button>
          <app-chapter-numbers *ngIf = "bibleService.showChapters"></app-chapter-numbers>
        </div>
        <ng-template #version >
          <button class = "titleButton"
            (click) = "restoreBook();">
            Back to {{bibleService.title}}
          </button>
        </ng-template>
      </div>
      <div id="menuButton"
        class="menuButton"
        [ngClass] = "bibleService.displayMenu ? 'menuButtonActive' : 'menuButton'"
        (click) = "historyService.savePosition();
                  bibleService.displayMenu = !bibleService.displayMenu;
                  bibleService.showChapters = false" >
        <span></span>
        <span></span>
        <span></span>
      </div> 
    </div>
    <app-menu *ngIf = "bibleService.displayMenu" ></app-menu>
  </nav>
  <router-outlet>
    <div *ngIf="bibleService.spinner == true" class="spinnerBackground">
      <div class="circleSpinner"></div>
      <div class="titleSpinner">{{ bibleService.spinnerTitle }}</div>
    </div>
  </router-outlet>
</div>